@import '../../styles/utilites.scss';

.mainContainer {
    overflow-x: scroll;
    background-color: $bgColor;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}

.mainWrapper {
    border: $lightGreen 1px solid;
    height: 100%;
    border-radius: 2px;
    width: auto;
    transition: 1s all ease-in;
}

.activeMain {
    border-left: 0px;
}

@media (max-width: 800px){
    .mainContainer {
    height: 100%;

        width: 100%;
    }
}

